body {
  font-family: cursive, Arial, Helvetica, sans-serif;
  font-size: small;
  color: black;
  background-color: #43cea2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
